* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

#root {
  display: flex;
  justify-content: center;
}
#root section {
  border: black solid;
  width: 60%;
}
#root section #fotoDePerfilYTitulo {
  background-color: rgb(89, 147, 253);
  display: flex;
  height: 15rem;
  width: 100%;
}
#root section #fotoDePerfilYTitulo img {
  width: 40%;
}
#root section #fotoDePerfilYTitulo #titulo {
  width: 60%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#root section #fotoDePerfilYTitulo #titulo h1 {
  width: 90%;
  font-size: 30px;
}
#root section #fotoDePerfilYTitulo #titulo h2 {
  width: 70%;
  font-size: 24px;
}
#root section #botonesDeInformacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  gap: 1rem;
}
#root section #botonesDeInformacion button {
  background-color: rgb(89, 147, 253);
  border: white solid 1px;
  color: white;
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  font-size: 20px;
}
#root section #botonesDeInformacion button:hover {
  background-color: white;
  border: rgb(89, 147, 253) solid 1px;
  color: rgb(89, 147, 253);
}

@media (min-width: 360px) and (max-width: 600px) {
  #root section {
    border: none;
    width: 100%;
  }
  #root section #fotoDePerfilYTitulo {
    background-color: rgb(89, 147, 253);
    display: flex;
    height: 10rem;
    width: 100%;
  }
  #root section #fotoDePerfilYTitulo img {
    width: 40%;
  }
  #root section #fotoDePerfilYTitulo #titulo {
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #root section #fotoDePerfilYTitulo #titulo h1 {
    width: 90%;
    font-size: 20px;
  }
  #root section #fotoDePerfilYTitulo #titulo h2 {
    width: 70%;
    font-size: 16px;
  }
  #root section #botonesDeInformacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    gap: 1rem;
  }
  #root section #botonesDeInformacion button {
    background-color: rgb(89, 147, 253);
    border: white solid 1px;
    color: white;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    font-size: 20px;
  }
  #root section #botonesDeInformacion button:active {
    background-color: white;
    border: rgb(89, 147, 253) solid 1px;
    color: rgb(89, 147, 253);
  }
  #root section #habilidades {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #root section #habilidades ul {
    width: 100%;
    margin: 1rem;
  }
  #root section #habilidades ul h3 {
    font-size: 25px;
    background-color: rgb(89, 147, 253);
    border: white solid 1px;
    color: white;
  }
  #root section #habilidades ul li {
    font-size: 17px;
  }
  #root section .iconos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #root section .iconos h4 {
    background-color: rgb(89, 147, 253);
    font-size: 25px;
    color: white;
    width: 100%;
  }
  #root section .iconos div {
    width: 20rem;
    display: flex;
    align-items: center;
  }
  #root section .iconos div img {
    border: 1px black solid;
    background-color: rgb(89, 147, 253);
    border-radius: 50px;
    width: 5rem;
    height: 5rem;
  }
  #root section .iconos div span {
    font-size: 20px;
    margin-left: 1rem;
  }
  #root section #academicoYCursos {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #root section #academicoYCursos div {
    width: 100%;
  }
  #root section #academicoYCursos div h4 {
    font-size: 25px;
    background-color: rgb(89, 147, 253);
    color: white;
  }
  #root section #academicoYCursos div h5 {
    font-size: 20px;
  }
  #root section #experienciaLaboral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  #root section #experienciaLaboral h4 {
    background-color: rgb(89, 147, 253);
    font-size: 25px;
    color: white;
    width: 100%;
  }
  #root section #experienciaLaboral div ul h5 {
    font-size: 20px;
  }
  #root section #experienciaLaboral div ul li {
    margin: 0.5rem 0 0.5rem 0;
  }
}

/*# sourceMappingURL=index.css.map */
